<style>
   
   body   { background-color: #f0f0f0; }

   header { 
      background-image: url('../Images/mountain.jpg');
      padding: 0;
      margin: 0;
      height: 1000px;  
      position: absolute;  
      width: 100%;  
}

   header { 
      top: 0; 
      left: 0;
}

   .topMenu {
      position: fixed;
      width: 100%;
      height: 100px;
      background-color: #ffffff;;
      z-index: 2;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, .08);
}

   ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
      position: relative;
      list-style-type: none; 
}
  
  .TopList {
      left: 105px;
      top: 53px;
      position: absolute;
      height: 40px;
      width: 400px;
}

  .TopList2 {
      left: 951px;
      top: 35px;
      position: absolute;
      height: 70px; 
      width: 400px;
      padding-top:  20px;
}
  
   li  { float: left; }

   li a {
      text-decoration: none;
      padding: 0;
      margin-left: 40px;
      font-size: 16px;
      left: 10px;
      top: 10px;
      color: black;
      font-family: Pricing, Sans-serif; 
      opacity: 0.9; 
      font-weight: lighter;  
      display: inline;
}

   li a:hover { color: #267df4; }

   .topList2Span  { 
      opacity: 0.5;
      font-weight: lighter;
}

   .Button1 {
      padding: 20px 55px;                      
      border-radius: 30px;
      position: absolute;
      left: 222px;
      top: 7px;
      display: block;
      background-color: #267df4;
      border-color: transparent;
      cursor: pointer;
}

   .getAppP {
      position: absolute;
      color: white;
      left: 35px;
      top: -5px;
      font-size: 16px;
      display: block;
      font-weight: lighter;
      font-family: Roboto, sans-serif;
}

   p {
      position: relative;
      top: 38px;
      left: 642px;
      font-size: 16px;
      font-family: Arial Black, Sans-serif;
      display: inline-block;
}

   span {
      font-family: Ariel, Sans-serif;
      opacity: .7;
      font-weight: bold;
}

   .CentralH {
      position: relative;
      text-align: center;
      top: 188px;
      font-family: Roboto,  sans-serif;
      font-weight: normal;
      font-size: 62px;
      color: rgb(60, 60, 60);
}

   .UnderCentralH {
      position: relative;
      left: 0;
      top: 158px;
      font-size: 20px;
      color: #8c8f95;
      text-align-last: center;
      text-indent: 10px;
      font-family: Roboto,  sans-serif;
      font-weight: normal;
      line-height: 27px;
}

    .Button2 {
      padding: 18px 60px;
      border-radius: 40px;
      background-color: transparent;
      position: absolute;
      left: 600px;
      top: 450px;
      cursor: pointer;
}

    .playP {
      font-family: Roboto, sans-serif;
      left: 30px;
      display: inline;
      top: 0;
      opacity: .9;
}

   .PhoneOfHeaderImage {
      position: relative;
      left: 525px;
      top: 300px;
}

   .content {
      height: 2700px;
      width: 100%;
      position: absolute;
      top: 1000px;
      left: 0;
      padding: 0;
      margin: 0;
      background-color: #fff;
}

   .PadLockImage {
      width: 50px;
      height: 50px;
      position: absolute;
      left: 180px;
      top: 140px;
}

  .TextColumnDiv {
      width: 600px;
      height: 400px;
      position: relative;
      top: 140px;                            
      left: 160px;
      margin-top: 110px;
      float: left;
}

 .h2ofTextColumnDiv {
      left: 0px;
      position: relative;
      font-family: Roboto, sans-serif;
      font-weight: normal;
      text-indent: 2px;
      opacity: .7;
}

 .ColumnP {              
      position: absolute;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      text-indent: 1px;
      line-height: 27px;
      font-weight: normal;
      color: #8c8f94;
      opacity: .98;
      left: 11px;
      top: 60px;
}

 .IponeFeature {
     position: relative;
     top: 180px;
     left: -1120px;                      
     transition: left 17s;
     display: block;
}

 body:hover  .IponeFeature{ left: -220px; }

 .ProtectDiv {
     position: relative;
     width: 600px;
     height: 800px;
     float: right;
     right: 50px;
     bottom: 610px;
     font-family: Roboto, sans-serif;
}

 .h1ofProtectDiv {
     position: absolute;
     font-size: 52px;
     font-weight: normal;
     left: 55px;
     top: 55px;
     opacity: .8;
}

 .pofProtectDiv {
     position: absolute;
     font-size: 18px;
     color: #8c8f94;
     left: 45px; 
     top: 250px;
     font-family: Helvetica, sans-serif;
     opacity: .95;
     line-height: 30px;     
}

 .HackButton {
     position: absolute;
     padding: 11px 95px;
     border-radius: 30px;
     top: 520px;
     left: 45px;
     background-color: #267df4;
     border-color: transparent;
     cursor: pointer;
}

 .PofHackButton {
    position: absolute;
    color: white;
    font-size: 17px;
    left: 15px;
    top: -7px;
    display: inline;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}

 .LearMoreButton {
    position: relative;
    padding: 20px 60px;
    border-radius: 30px;
    background-color: transparent;
    top: 520px;
    left: 280px;
}
 
 .PofLearMore {
    position: absolute;
    left: 19px;
    top: -3px;
    color: black;
    font-weight: normal;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

 .Div1UnderThe2ndPhone {
    position: relative;                      
    width: 100%;
    height: 1500px;
    top: 310px;
}

 .DivUnderThe2ndPhone {
   position: relative;
   left: 120px;
   top: 150px;
   width: 600px;
   height: 900px;
}

 .h1ofDivUnderThe2ndPhone  {
   font-family:  Helvetica Neue, sans-serif;
   font-size: 50px;
   font-weight: normal;
   opacity: .9;
}

 .pofDivUnderThe2ndPhone {
   font-family: Helvetica Neue, sans-serif;
   font-weight: normal;
   opacity: .9;
   color: #8c8f94;
   position: relative;
   left: 10px;
   top: 32px;
   font-size: 18px;
   line-height: 27px;
}

 .PartnersP  {
   position: absolute;
   font-size: 12px;
   font-weight: bold;
   left: 10px;
   top: 435px;
   font-family: Helvetica Neue, sans-serif;
   text-transform: uppercase;
}

 #iDrop   {
   position: absolute;
   top: 488px;
   left: 15px;
   font-size: 41px;
   color: #267df4;
}

 .DropBoxP {
   font-size: 23px;
   position: absolute;
   left: 60px;
   top: 470px;
   color: #267df4;
}

 .Evernote {
   position: absolute;
   left: 200px;
   top: 495px;
}

 .MapDiv {
   position: absolute;
   left: 590px;
   top: 0;
   width: 710px;
   height: 500px;
}

 .Map {
   position: relative;
   left: 710px;
   top: 0;
   transition: left .8s;
}


 .Div1UnderThe2ndPhone:hover .Map {
   left: 0;  
}

 .DivInterface {
   position: absolute;
   width: 100%;
   height: 1850px;
   background-color: #f4f4f5;
}

 .DivInterface h2 { 
   position: relative;
   top: 150px;
   left: 500px;
   font-family: Roboto, sans-serif;
   font-size: 52px;
   font-weight: normal;
   opacity: .8;
   display: inline-block;

} 

 .DivInterface h2::after {
   width: 13%;
   height: 3px;
   position: absolute;
   top: 95px;
   content: '';
   background-color: #267df4;
   left: 185px;
}

 .DivInterface p {
   position: absolute;
   top: 330px;
   text-transform: uppercase;
   color: #8c8f94;
   font-size: 12px;
   font-family: Helvetica Neue, sans-serif;
   font-weight: bolder;
   left: 655px;
}

 .DivInterface ul {
   width: 2100px;
   height: 1000px;
   position: relative;
   top: 300px;
   left: -170px;
   padding-top: 100px;
}

 .Interfaceimg { 
   box-shadow: 10px 10px 5px rgba(85, 85, 85, .25);          
   margin-right: 20px; 
   transition: 1.5s opacity;
   opacity: 0;
}

 .DivInterface:hover .Interfaceimg {
   opacity: 1;
}

 .DivInterface:hover .MainImg {
   opacity: 1;
}

 li .MainImg {
   position: relative;
   top: -90px;
   opacity: 0;
   transition: 1.5s opacity;
}

 .PROVIDENCE2 {
   position: relative;
   top: 130px;
   text-align: center;
   font-size: 12px;
   text-transform: uppercase;
   font-family: Roboto, sans-serif;
   font-weight: normal;
   color: Gray;
}

 .span2 {
   font-weight: bolder;
   color: rgba(0, 0, 0, .7);
   font-family: Arial Black, sans-serif;
}

 .UnderProvidence2 {                   
   position: relative;
   top: 125px;
   text-align: center;
   font-size: 52px;
   font-family: Roboto, sans-serif;
   font-weight: normal;
   opacity: .8;
}

  Input[type=text] {
   position: relative;
   padding: 15px 28px;
   display: inline-block;
   border: 1px solid LightGray;
   border-radius: 40px;
   top: 150px;
   left: 460px;
   width: 450px;
   font-size: 17px;
   background-color: transparent;
}

  input:focus { outline: none; }

 .EmailButton {
  position: relative;
  padding:  12px 12px;
  width: 145px;
  border-radius: 30px;
  border: none;
  background-color: #6fc754;
  top: 150px;
  left: 307px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

 .Downloadh4 { 
  position: relative;
  left: 0;
  top: 200px; 
  font-size: 12px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  color: #8c8f94;
}

 .appStore {
   position: relative;
   padding: 33px 110px;
   border-radius: 40px;
   border: none;
   top: 200px;
   left: 600px;
   background-color: #131315;
   color: white;
   font-family: Roboto, sans-serif;
   text-align: left;
   cursor: pointer;
}

 .appStore p {
   position: absolute;
   color: #fff;
   font-size: 12px;
   left: 85px;
   top: 4px;
   text-transform: none;
}

 .divofSlider {
   position: relative;
   width: 100%;
   height: 600px;
   top: 1850px;
   background-color: #fff;
}

 #user1, #user2, #user3 {
   position: relative;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   left: 380px;
   top: 120px;
   opacity: .3;
   box-sizing: border-box;
   cursor: pointer;
}

 #user1 {
   animation: 7s topSlide infinite;
   margin-right: 120px;
}

 #user2 {
   animation: 7s topSlide2 infinite;
   margin-right: 120px;
}

 #user3 { animation: 7s topSlide3 infinite; }

 @keyframes topSlide {
   
   0%   { opacity:  1;   padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px; }
   20%  { opacity:  1;   padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px; }
   40%  { opacity: .3;   padding-left: 30px; padding-right: 30px; padding-bottom: 30px; padding-top: 30px; }
   50%  { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   60%  { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   90%  { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   100% { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; } 
}

 @keyframes topSlide2 {
   0%   { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   20%  { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   30%  { opacity:  1;   padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px; }
   50%  { opacity:  1;   padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px; } 
   70%  { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   90%  { opacity: .3;   padding-left: 30px; padding-right: 30px; padding-bottom: 30px; padding-top: 30px; }
   100% { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
}

 @keyframes topSlide3 {
   0%   { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   20%  { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   40%  { opacity: .3;   padding-left: 30px; padding-right: 30px; padding-bottom: 30px; padding-top: 30px; }
   50%  { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
   70%  { opacity:  1;   padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px; }
   90%  { opacity:  1;   padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px; } 
   100% { opacity: .3;   padding-right: 30px; padding-left: 30px; padding-bottom: 30px; padding-top: 30px; }
}

 .divInSlider {
   float: left;
   width: 600px;
   height: 300px;
   position: relative;
   top: 0;
}

 #first { animation: 7s slide1 infinite; }

 #second { 
  animation: 7s slide2 infinite;
  position: relative;
  left: 640px;
  top: -301px;
}

 #third {
   animation: 7s slide3 infinite;
   position: relative;
   left: 1300px;
   top: -602px;
}

 @keyframes slide1 { 
   0%   { left: 0; }
   20%  { left: 0; }
   40%  { left: -700px;  }
   50%  { left: -700px;  }
   60%  { left: -1300px; }
   90%  { left: -1300px; }
   100% { left: -1300px; }
}

 @keyframes slide2 { 
   0%   { left: 800px; }
   20%  { left: 800px; }
   40%  { left: 0; }
   50%  { left: 0; }
   60%  { left: 0; }
   90%  { left: -700px; }
   100% { left: -700px; }
}

 @keyframes slide3 { 
   0%   { left: 1500px;  }
   20%  { left:  1500px; }
   40%  { left: 640px; }
   50%  { left: 640px; }
   60%  { left: 640px; }
   90%  { left: 0; }
   100% { left: 0; }
}

 .figure {
   width: 140%;
   float: left;
}

 .SliderUl { 
   position: absolute;                           
   padding: none;
   width: 650px;
   height: 550px;
   left: 360px;
   top: 340px;
   float: left; 
}

 .divInSlider h2 {
   position: relative;
   text-align: center;
   top:  0;
   font-size: 30px;
   font-family: Roboto, sans-serif;
   font-weight: normal;
   opacity: .7;                 
}

 .divInSlider p {
   position: relative;
   text-align: center;
   left: 30px;
   top: 20px;
   color: #8c8f94;
   font-weight: normal;
   font-family: Roboto, sans-serif;
   font-size: 18px;
   line-height: 25px;
}

 .stars { 
   font-size: 15px;
   color: red; 
   top: 70px; 
   left: 120px; 
   margin-right: 2px;
   position: relative;
}

 .starlist {
   position: absolute;
   top: 210px;
   font-size: 21px;
   color: #f2bc3b;
   width: 100%;
}

 .liStar {
   left: 250px;
   position: relative;
   margin: auto;
   float: left;
   display: block;
   padding-right: 4px;
}

 #BlackSheep { color: #8c8f94; }

 .CDp { 
  position: absolute;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  left: 250px; 
  display: block;
  text-transform: uppercase;
  font-weight: bolder;
}

 #first h4 { top: 250px; }

 #second h4 { top: 40px;  }

 #third h4 { top: 20px; }

 .divUnderTheSlider { 
   position: absolute;
   width: 100%;
   height: 1000px;
   background-color: #f4f4f5; 
   top: 1200px;
}

 .divOfChoose {
   position: relative;
   width: 450px;
   height: 900px;
   left: 120px;
   top: 200px;
}

 .divOfChoose h1 {
   position: absolute;
   text-align: center;
   font-size: 51px;
   font-family: Roboto, sans-serif;
   font-weight: normal;
   opacity: .8;
   left: 0;
   text-indent: 12px;
   line-height: 46px;
}

 .divOfChoose h5 a {
   color: #267df4;
   padding-left: 5px;
}

 .divOfChoose h5 a:hover { color: rgb(0, 47, 99) }
 }

 .divOfChoose p {
   position: absolute;
   text-transform: uppercase;
   font-family: Roboto, sans-serif;
   font-size: 13px;
   font-weight: bold;
   left: 15px;
   top: 220px;
}

 .buttonOfChoose { 
   position: relative;
   left: 15px;
   top: 265px;
   padding: 14px 115px;
   border-radius: 30px;
   border: 1px solid LightGray;
   background-color: transparent;  
   float: left;
   outline: none;
}

 .r1, .r2 { display: none; }

 .toRight, .toLeft {
   background-color: #fff;
   color: white;
   border-radius: 25px 25px;
   position: absolute;
   left: 2px;
   height: 44px;
   width: 125px;
   top: 2px;
   cursor: pointer;
}

 .hUnderButtonOfChoose {
   position: absolute;
   font-weight: normal;
   font-family: Roboto, sans-serif;
   font-size: 18px;
   top: 400px;
   left: 15px;
   text-align: left;
   line-height: 27px;
   color: #8c8f94;
}

 .divOfChoose h5 {
   position: absolute;
   top: 520px;
   left: 15px;
   font-weight: normal;
   font-size: 14px;
   color: #8c8f94;
}
 .divOfChoose a:hover { color: rgb(0, 0, 38); }

 .divOfChoose2, .divOfChoose3 {
   position: relative;
   width: 320px;
   bottom: 700px;
   right: 130px;
   float: right;
}

 .divOfChoose3 {
   background-color: #ffffff;
   height: 580px;
   box-shadow: 19px 20px 25px 0 rgba(0, 0, 0, 0.06), 12px 12px 15px 0 rgba(0, 0, 0, 0.02);
}

 .divOfChoose2 {
   background-color: #ebebed;
   height: 530px;
   bottom: 675px;
}

 .divOfChoose2 h3, h4, h5, .divOfChoose3 h3, h4, h5 {
   font-family: Roboto, sans-serif;
   font-weight: normal;
   text-align: center;
   position: relative;
}
  
 .divOfChoose2 h3 { top: 20px; }

 .divOfChoose3 h3 { top: 40px; }

 .divOfChoose2 h3, .divOfChoose3 h3 { padding-bottom: 60px; }
   
 .divOfChoose2 h4, .divOfChoose3 h4 {
   color: #8c8f94;
   font-size: 20px;
   line-height: 29px;
}

 .divOfChoose2 h4 { top: -20px; }

 .divOfChoose3 h4 { top: 0; }

 .divOfChoose2 h3, .divOfChoose3 h3 { 
   font-size: 30px;
   opacity: .8; 
   font-weight: normal;
}

 .divOfChoose2 h5, .divOfChoose3 h5 {
   font-size: 16px;
   line-height: 28px;
   font-weight: normal;
}

 .ChooseButton1of4, .ChooseButton3of4 {
  position: relative;
  padding: 10px 18px;
  border-radius: 16px;
  left: 125px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  cursor: auto;

}
 
 .ChooseButton1of4 { top: -40px; }

 .ChooseButton3of4 { top: -20px; }

 .ChooseButton2of4, .ChooseButton4of4 {
   position: relative;
   padding: 13px 65px;
   border-radius: 30px;
   left: 50px;
   cursor: pointer;
}

 .ChooseButton2of4  { 
  top: 10px;
  background-color: transparent;
  border: 1px solid #267df4;
  font-size: 98%;
  font-family: Roboto, sans-serif;
  color: #267df4;
}

 .ChooseButton4of4  { 
  top: 60px; 
  background-color: #267df4;
  font-size: 98%;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}

 .footer {
  position: relative;
  top: 1500;
  width: 100%;
  height: 1030px; 
}

 .footer h1 {
  position: relative;
  top: 125px;
  left: 410px;
  font-size: 52px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  opacity: .8;
}

 .footer h5 {
  position: absolute;
  top: 5px;
  left: 620px;
  top: 340px;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #8c8f94;
}

 .divInFooter {
   position: relative;
   height: 530px;
   width: 440px;
   left: 90px;
   top: 360px;
}

 .LogoImg {
   position: relative;
   top: 35px;
   left: 35px;
}

 .appImg { 
  position: relative;
  top: 200px; 
  left: -110px;
}

 .appImg  a {
   float: left;
   padding: none;
   display: block;
}

 .footer p {
   position: absolute;
   top: 100px;
   left: 30px;
   line-height: 22px;
   font-weight: normal;
   font-family: Roboto, sans-serif;
   color: #8c8f94;
   font-size: 14px;
}

 .footer ul {
   padding: 0;
   width: 370px;
   height: 35px;
   position: absolute;
   top: 280px;
   left: 0;
   overflow: hidden;
}

 .footer li {
   float: left;
}

 .footer i {
   text-align: center;
   margin-right: -50px;
   position: relative;
}

 .footer li a  { 
   display: inline-block;
   left: 0;
   text-decoration: none;
   position: relative;
   color: #8c8f94;
}

 .footer  li a:hover  i { color: #000000; }

 .footer table {
   position: relative;
   float: right;
   margin-right: 210px;
   top: -80px;
   width: 500px;
   height: 200px;
}

 table tr { padding-right: 55px;
 }

 table th {
   text-align: left;
   font-family: Roboto, sans-serif;
   text-transform: uppercase;
   font-size: 12px;
}

 table td {
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-weight: normal;
   color: #8c8f94;
   text-indent: 2px;
}

 td a { 
   text-decoration: none;
   color: #8c8f94;
   text-align: left; 
}
 
 td a:hover { color: #000; }

 .BottomH {
   position: absolute;
   bottom:  0;
   left: 120px;
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: normal;
   color: #8c8f94;
}

 .BottomH a {
   color: #267df4;
   text-decoration: underline;
}

 .BottomH a:hover { color: rgb(0, 47, 99); }

 .bottomDiv {
   position: absolute;
   float: right;
   right: 110px;
   bottom:  5px;
   width: 260px;
   height: 100px;
   font-family: Roboto, sans-serif;
   font-size: 8px;
   color: #000;
   font-weight: normal;
   text-transform: uppercase;
}
 
 .bottomDiv h3 {
   position: relative;
   left: 15px;
   top: 70px;
}

 .bottomDiv img   { 
   position: relative;
   top: 35px;
   left: 130px;
   display: block;
}

 .LeftSideBar {
   left: -375px;
   top: 0;
   width: 375px;
   height: 100%;
   border: 1px solid black;
   z-index: 44;
   background-color: #26272d; 
   position: fixed;
   transition: all 1s ease;
}

 .LeftSideBar img {
   position: absolute;
   z-index: 99;
   border: 1px solid blue;
   top: 70px;
   width: 40%;
   left: 100px;
}

  .LeftSideBar ul {
   position: relative;
   overflow: hidden;
   z-index: 10;
   top: 80px;
   width: 180px;
   list-style-type: none;
   height: 300px;
   margin: 0;
   padding: 0;
}
 
  .LeftSideBar li { float: left; }

  .LeftSideBar li a {
    z-index: 10;
    display: block;
    color: #fff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    position: relative;
    padding: 7px;
    left: -10px;
    top: 12px;
}

  .LeftSideBar li a:hover { color: #267df4; }

  .ButtonJustLikeButton1 {
     padding: 20px 55px;                      
     border-radius: 30px;
     position: relative;
     left:  0;
     top: 10px;
     display: block;
     background-color: #267df4;
     border-color: transparent;
     cursor: pointer;
     z-index: 11;
}

 .LeftSideBar img {
    z-index: 12;
    position: relative;
    left: 32px;
    border: none;
    top: 55px;
}

 .LeftSideBar i a { text-decoration: none; }
 
 .LeftSideBar i a:active  .LeftSideBar { color: blue; position: ;}

 .LeftSideBar h5 {
   position: relative;
   color: #fff;
   top: 350px;
   left: 40px;
   float: left;
   line-height: 24px;
   font-family: Roboto, sans-serif;
   font-size: 14px;
   text-align: left;
}
 
 .LeftSideBar h5 a { 
  text-decoration: underline; 
  color: #267df4;  
}

 .LefSideBar h5 a:hover { color: }

  .LeftSideBar .faFaIcons {
   padding: 0;
   margin: 0;
   width: 370px;
   height: 35px;
   position: absolute;
   top: 750px;
   left: -5px;
   overflow: hidden;
}

 .LeftSideBar .faFaIcons li { float: left; }

 .LeftSideBar .faFaIcons li a  { 
   display: inline-block;
   left: 0;
   text-decoration: none;
   position: relative;
   color: #8c8f94;
   padding-top: 5px;
   color: #fff;
}
 
 #menuIcon { 
   z-index: 22;
   font-size: 15px; 
   top: 55px;
   left: 130px;
   position: fixed;
   color: #000000;
   cursor: pointer;
 }

 #menuIcon:hover { color: #267df4; }

 #closeIcon {
   font-size: 15px;
   top: 54px;
   float: right;
   right: 22px;
   color: #fff;
   position: relative;
   cursor: pointer;
 }

 #menuToggle, #menuToggle2 { display: none; }

 #menuToggle:checked ~ .LeftSideBar { 
  left: 0;  
}


 #menuToggle2:checked ~ .LeftSideBar {
   left: -370px;
}


 

 
</style>